**LAB 4- 28-1-26**
---

***
## 2) Input & Output Functions

### `input()`  
- Takes user input from keyboard  
- Always returns a **string** by default  

### `print()`  
- Displays output in console/notebook  
- Can use `sep` and `end` for formatting 
***

In [3]:

name = input("Enter your name: ")
print("Hello", name)

Enter your name:  Vaanya

Hello Vaanya

In [4]:
age = int(input("Enter age: "))
salary = float(input("Enter salary: "))
print("Age:", age, "| type:", type(age))
print("Salary:", salary, "| type:", type(salary))

Enter age:  21
Enter salary:  700000

Age: 21 | type: <class 'int'>
Salary: 700000.0 | type: <class 'float'>

***
### Multiple Inputs in One Line

Using `split()` to take multiple values from one input line.

Example input:
`10 20`
***

In [6]:
x, y = input("Enter two numbers: ").split()
print("x =", x, "| type:", type(x))
print("y =", y, "| type:", type(y))

Enter two numbers:  2 4

x = 2 | type: <class 'str'>
y = 4 | type: <class 'str'>

In [7]:

x, y = map(int, input("Enter two integers: ").split())
print("Sum =", x + y)

Enter two integers:  2 -9

Sum = -7

***
### Output with `print()`

`print()` supports optional parameters:

- `sep` → separator between values  
- `end` → what to print at the end 
***

In [8]:
print(1, 2, 3)                       # default sep=" "
print(1, 2, 3, sep="-")              # custom separator
print("Hello", end=" ")
print("World")

1 2 3
1-2-3
Hello World

***
### Output Formatting

#### f-string (Recommended)
Fast and clean formatting:
- `{value}` for direct values
- `{value:.2f}` for 2 decimal places
***

***
## 3) Escape Sequences in Python

Escape sequences are special characters used in strings with `\\`.

Common ones:

- `\\n` → New Line  
- `\\t` → Tab space  
- `\\\\` → Backslash  
- `\\'` → Single quote  
- `\\"` → Double quote  
- `\\r` → Carriage return  
- `\\b` → Backspace  
- `\\a` → Alert (beep)  
***

In [9]:
print("Hello\nWorld")

Hello
World

In [11]:
print("Name\tAge\tCity")
print("Vaanya\t18\tDehradun")

Name	Age	City
Vaanya	18	Dehradun

In [12]:
print("C:\\Users\\Vaanya\\Documents")

C:\Users\Vaanya\Documents

In [13]:
print('It\'s Python')
print("She said \"Hello\"")

It's Python
She said "Hello"

In [14]:
print("Hello\rWorld")

World

In [15]:
print("Helloo\b")

Hello

In [16]:
print("Warning!\a")

Warning!

***
### Raw Strings (Very Important for File Paths and Regex)

Raw strings use `r""` and ignore escape sequences.

Useful in:
- Windows paths
- Regular expressions
***

In [18]:
path1 = "C:\\newfolder\\test"
path2 = r"C:\newfolder\test"

print("Normal string:", path1)
print("Raw string:", path2)

Normal string: C:\newfolder\test
Raw string: C:\newfolder\test

***
## Combined Practice Program (Interactive)

This program takes user details and prints a structured output using:
- input()
- type casting
- f-string formatting
- escape sequences
***

In [19]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
cgpa = float(input("Enter your CGPA: "))
print("\n----- Student Report -----")
print(f"Name:\t{name}")
print(f"Age:\t{age}")
print(f"CGPA:\t{cgpa:.2f}")
print("--------------------------")

Enter your name:  Vans
Enter your age:  18
Enter your CGPA:  8.7

----- Student Report -----
Name:	Vans
Age:	18
CGPA:	8.70
--------------------------

***
***
***
## Tokens, Naming Conventions, Operators & Precedence, `type()` & `id()`

**Topics Covered**
1. Tokens in Python  
2. Naming Conventions (Identifiers)  
3. Operators in Python  
4. Operator Precedence & Associativity  
5. `type()` and `id()` functions  

Each section contains **explanation + runnable code**.
***


## Tokens in Python

A **token** is the smallest meaningful unit in a Python program.

Python source code is broken into tokens by the interpreter before execution.

### Main Categories of Tokens
1. **Keywords** (reserved words)
2. **Identifiers** (names of variables, functions, classes)
3. **Literals** (fixed values like numbers, strings)
4. **Operators** (symbols like +, -, ==)
5. **Delimiters / Separators** ((), [], {}, :, , etc.)
***
***
### 1. Keywords

**Keywords** are reserved words with special meaning in Python.  
You cannot use keywords as variable names.

Examples: `if`, `else`, `for`, `while`, `def`, `class`, `return`, `True`, `None`

We can view all keywords using the `keyword` module.
***

In [20]:

import keyword

print("Total keywords:", len(keyword.kwlist))
print(keyword.kwlist)

Total keywords: 35
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

***
### 2. Identifiers

**Identifiers** are names you give to:
- variables
- functions
- classes
- modules

**Rules for identifiers**
- Must start with a letter (A-Z or a-z) or underscore `_`
- Cannot start with a digit
- Can contain letters, digits, underscores
- Case-sensitive: `age`, `Age`, `AGE` are different
- Cannot be a keyword
***

In [21]:

age = 25
_age = 30
age2 = 40

print(age, _age, age2)

# Invalid identifiers (do NOT run; shown for learning)
# 2age = 10
# first-name = "Vaanya"
# class = 5

25 30 40

***
### 3. Literals

**Literals** are fixed values written directly in code.

Types:
- Numeric: `10`, `3.14`, `2+3j`
- String: `"hello"`, `'python'`
- Boolean: `True`, `False`
- None literal: `None`
- Collection literals: `[1,2]`, `(1,2)`, `{1,2}`, `{"a":1}`
***

In [22]:

n = 10
pi = 3.14
name = "Vaanya"
flag = True
nothing = None
lst = [1, 2, 3]
tup = (1, 2)
st = {1, 2, 3}
dct = {"a": 1}

print(n, pi, name, flag, nothing, lst, tup, st, dct)

10 3.14 Vaanya True None [1, 2, 3] (1, 2) {1, 2, 3} {'a': 1}

***
### 4. Operators (as tokens)

Operators are symbols that perform operations on values.
Examples:
- `+`, `-`, `*`, `/`
- `==`, `!=`, `<=`
- `and`, `or`, `not`
***

***
### 5. Delimiters / Separators

Delimiters are symbols that structure code.

Common delimiters:
- `()` parentheses: function calls, grouping
- `[]` brackets: lists, indexing
- `{}` braces: dict/set
- `:` colon: blocks and slicing
- `,` comma: separate items
- `.` dot: attribute access
***

In [23]:

nums = [10, 20, 30]
print(nums[0])        # [] indexing
print(nums[0:2])      # : slicing

data = {"name": "Vaanya", "age": 38}  # {} dictionary
print(data["name"])   # [] key access

10
[10, 20]
Vaanya

***
## 2) Naming Conventions (Professional Python Style)

Naming conventions make code readable and maintainable.

### Standard Conventions (PEP 8 style)
- Variables & functions: `snake_case`
- Constants: `UPPER_CASE`
- Classes: `PascalCase`
- Protected (internal use): `_single_leading_underscore`
- Strongly "private" (name mangling): `__double_leading_underscore`
- Special (magic/dunder): `__init__`, `__str__`
***

In [25]:

# Variables / functions (snake_case)
student_name = "Vaanya"
total_marks = 95

def calculate_average(a, b):
    return (a + b) / 2

# Constants (UPPER_CASE)
PI = 3.14159
MAX_RETRIES = 3

# Class (PascalCase)
class StudentProfile:
    pass

# Internal use
_internal_cache = {}

# Name mangling (for class members)
class BankAccount:
    def __init__(self):
        self.__balance = 0  # name-mangled

print(student_name, total_marks, calculate_average(10, 20), PI, MAX_RETRIES)

Vaanya 95 15.0 3.14159 3

***
### Good vs Bad Names

**Good names**
- `total_students`
- `is_valid_email`
- `compute_loss`

**Bad names**
- `x1`, `temp2`, `aa` (unless short loop variables)
- `data12345` (unclear meaning)

Naming should reflect:
- purpose
- meaning
- units (if needed): `time_seconds`, `distance_km`
***

## 3) Operators in Python

An **operator** performs an operation on one or more operands (values).

### Categories
1. Arithmetic
2. Comparison (Relational)
3. Assignment
4. Logical
5. Bitwise
6. Membership
7. Identity
***

### 1. Arithmetic Operators
`+  -  *  /  //  %  **`
***

In [26]:

a, b = 10, 3
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)     # float division
print("a // b =", a // b)   # floor division
print("a % b =", a % b)     # remainder
print("a ** b =", a ** b)   # power

a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

***
### 2. Comparison Operators
`==  !=  <  >  <=  >=`

They return Boolean (`True` or `False`).
***

In [27]:

x, y = 5, 10
print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x <= y:", x <= y)
print("x > y:", x > y)
print("x >= y:", x >= y)

x == y: False
x != y: True
x < y: True
x <= y: True
x > y: False
x >= y: False

***
### 3. Assignment Operators
`=  +=  -=  *=  /=  //=  %=  **=`

They update a variable.
***

In [28]:

n = 10
n += 5
print("After n += 5:", n)

n *= 2
print("After n *= 2:", n)

n //= 3
print("After n //= 3:", n)

After n += 5: 15
After n *= 2: 30
After n //= 3: 10

***
### 4. Logical Operators
`and`, `or`, `not`

They operate on boolean expressions.
***

In [29]:

age = 20
has_id = True

print("Eligible?", age >= 18 and has_id)
print("Either condition true?", age >= 18 or has_id)
print("Negation:", not has_id)

Eligible? True
Either condition true? True
Negation: False

***
### 5. Bitwise Operators
Used with integers at binary level.

`&` AND  
`|` OR  
`^` XOR  
`~` NOT  
`<<` Left shift  
`>>` Right shift  
***

In [30]:

a, b = 6, 3   # 6 -> 110, 3 -> 011 (binary)

print("a & b =", a & b)   # 010 -> 2
print("a | b =", a | b)   # 111 -> 7
print("a ^ b =", a ^ b)   # 101 -> 5
print("~a =", ~a)         # bitwise NOT (two's complement)
print("a << 1 =", a << 1) # 1100 -> 12
print("a >> 1 =", a >> 1) # 11 -> 3

a & b = 2
a | b = 7
a ^ b = 5
~a = -7
a << 1 = 12
a >> 1 = 3

***
### 6. Membership Operators
Used to check presence inside a sequence/collection.

- `in`
- `not in`
***

In [31]:
nums = [10, 20, 30]
print(20 in nums)
print(99 not in nums)

text = "python programming"
print("python" in text)

True
True
True

***
### 7. Identity Operators
Used to check whether two references point to the same object in memory.

- `is`
- `is not`

Important: `is` checks identity (same object), not equality of values.
***

In [32]:

a = [1, 2, 3]
b = [1, 2, 3]
c = a

print("a == b:", a == b)     # values equal
print("a is b:", a is b)     # different objects
print("a is c:", a is c)     # same object

a == b: True
a is b: False
a is c: True

***
## 4) Operator Precedence & Associativity

**Precedence** decides which operator is evaluated first in an expression.

General ideas:
- `()` parentheses have highest precedence
- `**` (power) is high precedence and is **right-associative**
- `* / // %` come before `+ -`
- Comparisons come after arithmetic
- `not` > `and` > `or`

When in doubt, use parentheses to make intention clear.
***

In [33]:

print(2 + 3 * 4)      # 2 + (3*4) = 14

# Parentheses override precedence
print((2 + 3) * 4)    # 20

# Power has higher precedence than unary minus
print(-3 ** 2)        # -(3**2) = -9
print((-3) ** 2)      # 9

# Right associativity of **
print(2 ** 3 ** 2)    # 2 ** (3 ** 2) = 2 ** 9 = 512

14
20
-9
9
512

***
### Logical precedence: `not`, `and`, `or`

Evaluation order:
1. `not`
2. `and`
3. `or`
***

In [34]:

a = True
b = False
c = False

# not has higher precedence than and/or
print(not a and b)     # (not a) and b

# and before or
print(a or b and c)    # a or (b and c)

False
True

***
## 5) `type()` and `id()` in Python

### `type(object)`
Returns the data type (class) of a value/object.

### `id(object)`
Returns a unique identity number for the object (often its memory address in CPython).
Useful for understanding:
- object identity
- mutability
- references
***

In [35]:

print(type(10))
print(type(10.5))
print(type("python"))
print(type([1, 2, 3]))
print(type({"a": 1}))
print(type(True))
print(type(None))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'NoneType'>

In [36]:

x = 10
y = 10
z = 11

print("id(x) =", id(x))
print("id(y) =", id(y))
print("id(z) =", id(z))

print("x is y?", x is y)
print("x == y?", x == y)

id(x) = 4367851712
id(y) = 4367851712
id(z) = 4367851744
x is y? True
x == y? True

***
### `id()` and Mutability (Very Important)

- Immutable types: `int`, `float`, `str`, `tuple`
  - If you "change" them, Python creates a new object.
- Mutable types: `list`, `dict`, `set`
  - They can be modified in-place without creating a new object.
***

In [37]:

a = 100
print("Before change:", a, "id:", id(a))

a = a + 1
print("After change:", a, "id:", id(a))

Before change: 100 id: 4367854592
After change: 101 id: 4367854624

In [38]:
lst = [1, 2, 3]
print("Before change:", lst, "id:", id(lst))

lst.append(4)
print("After append:", lst, "id:", id(lst))  # same id

Before change: [1, 2, 3] id: 5722512384
After append: [1, 2, 3, 4] id: 5722512384

***
### Equality (`==`) vs Identity (`is`)

- `==` checks whether values are equal
- `is` checks whether two variables point to the same object

Use:
- `==` for value comparison
- `is` for checking `None` or object identity
***

In [39]:

a = [1, 2, 3]
b = [1, 2, 3]
c = a

print("a == b:", a == b)  # True (values same)
print("a is b:", a is b)  # False (different objects)
print("a is c:", a is c)  # True (same object)

val = None
print("val is None:", val is None)  # recommended way

a == b: True
a is b: False
a is c: True
val is None: True

***
## Quick Practice (Run and Observe)

Try predicting output before running the cell:
- operator precedence
- identity vs equality
- id changes for immutable objects
***

In [40]:
expr1 = 5 + 2 * 3 ** 2
expr2 = (5 + 2) * (3 ** 2)

print("expr1 =", expr1)
print("expr2 =", expr2)

x = "hello"
y = "he" + "llo"
print("x == y:", x == y)
print("x is y:", x is y)   # may vary due to interning, observe

m = [1, 2]
n = m
n.append(3)
print("m:", m)
print("n:", n)
print("m is n:", m is n)

expr1 = 23
expr2 = 63
x == y: True
x is y: True
m: [1, 2, 3]
n: [1, 2, 3]
m is n: True