# PYTHON PROGRAMMING - ***EXPERIMENT - 04***

---

> ## LOOPS

### Q1) Find the factorial of a given number

In [1]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial is:", fact)

Enter a number:  6

Factorial is: 720

### Q2) Check whether the given number is an Armstrong number

In [2]:
num = int(input("Enter a number: "))
temp = num
power = len(str(num))
sum_val = 0

while temp > 0:
    digit = temp % 10
    sum_val += digit ** power
    temp //= 10

if sum_val == num:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

Enter a number:  9

Armstrong Number

### Q3) Print Fibonacci series up to given term

In [3]:
n = int(input("Enter number of terms: "))
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms:  3

0 1 1

### Q4) Check whether the given number is prime or not

In [4]:
num = int(input("Enter a number: "))
flag = True

if num <= 1:
    flag = False
else:
    for i in range(2, num):
        if num % i == 0:
            flag = False
            break

if flag:
    print("Prime Number")
else:
    print("Not a Prime Number")

Enter a number:  67

Prime Number

### Q5) Check whether the given number is palindrome or not

In [5]:
num = input("Enter a number: ")

if num == num[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a number:  99

Palindrome

### Q6) Print sum of digits of a number

In [6]:
num = int(input("Enter a number: "))
sum_digits = 0

while num > 0:
    sum_digits += num % 10
    num //= 10

print("Sum of digits:", sum_digits)

Enter a number:  67

Sum of digits: 13

### Q7) Count and print all numbers divisible by 5 or 7 between 1 and 100

In [7]:
count = 0

for i in range(1, 101):
    if i % 5 == 0 or i % 7 == 0:
        print(i)
        count += 1

print("Count:", count)

5
7
10
14
15
20
21
25
28
30
35
40
42
45
49
50
55
56
60
63
65
70
75
77
80
84
85
90
91
95
98
100
Count: 32

### Q8) Convert all lowercase letters to uppercase in a string

In [8]:
text = input("Enter a string: ")
print(text.upper())

Enter a string:  vaanya

VAANYA

### Q9) Print all prime numbers between 1 and 100

In [9]:
for num in range(2, 101):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Q10) Print multiplication table of a given number

In [10]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "*", i, "=", num * i)

Enter a number:  8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80