# PYTHON PROGRAMMING - ***EXPERIMENT - 06***
---

> ## Lists, Tuples and Dictionary

### Q1) Scan values in range 0â€“3 and count occurrences

In [5]:
n = int(input("Enter number of elements: "))
nums = []

for i in range(n):
    nums.append(int(input()))

for i in range(4):
    print(i, "occurred", nums.count(i), "times")

Enter number of elements:  4
 3
 2
 1
 0

0 occurred 1 times
1 occurred 1 times
2 occurred 1 times
3 occurred 1 times

### Q2) Create a tuple and find average

In [7]:
n = int(input("Enter number of values: "))
values = []

for i in range(n):
    values.append(int(input()))

t = tuple(values)
print("Average:", sum(t) / len(t))

Enter number of values:  3
 5
 4
 7

Average: 5.333333333333333

### Q3) Find runner-up score

In [9]:
scores = list(map(int, input("Enter scores: ").split()))
unique_scores = list(set(scores))
unique_scores.sort(reverse=True)

print("Runner-up score:", unique_scores[1])

Enter scores:  56 78 89 99

Runner-up score: 89

### Q4) Dictionary of students and cities

In [11]:
n = int(input("Enter number of students: "))
students = {}

for i in range(n):
    name = input("Enter name: ")
    city = input("Enter city: ")
    students[name] = city

print("Names:", students.keys())
print("Cities:", students.values())

for name, city in students.items():
    print(name, "->", city)

Enter number of students:  4
Enter name:  Rhythm Vaanya Raman
Enter city:  Jalandhar Amritsar Delhi
Enter name:  Vaanya Kiran Ranya
Enter city:  Jalandhar ATQ GGn
Enter name:  Manya Tanu
Enter city:  Noida Noida
Enter name:  sggshyed hheueuegb
Enter city:  hehe hhrdur

Names: dict_keys(['Rhythm Vaanya Raman', 'Vaanya Kiran Ranya', 'Manya Tanu ', 'sggshyed hheueuegb'])
Cities: dict_values(['Jalandhar Amritsar Delhi', 'Jalandhar ATQ GGn', 'Noida Noida ', 'hehe hhrdur'])
Rhythm Vaanya Raman -> Jalandhar Amritsar Delhi
Vaanya Kiran Ranya -> Jalandhar ATQ GGn
Manya Tanu  -> Noida Noida
sggshyed hheueuegb -> hehe hhrdur

### Q5) Movie details dictionary

In [12]:
n = int(input("Enter number of movies: "))
movies = {}

for i in range(n):
    name = input("Movie name: ")
    year = int(input("Year: "))
    director = input("Director: ")
    cost = int(input("Production cost: "))
    earning = int(input("Collection: "))

    movies[name] = {
        "year": year,
        "director": director,
        "cost": cost,
        "earning": earning
    }

for m, d in movies.items():
    print(m, d)

print("Movies before 2015:")
for m, d in movies.items():
    if d["year"] < 2015:
        print(m)

print("Profitable movies:")
for m, d in movies.items():
    if d["earning"] > d["cost"]:
        print(m)

Enter number of movies:  3
Movie name:  Harry Potter
Year:  2007
Director:  JK Rowling
Production cost:  5000000
Collection:  7900000
Movie name:  Devil Wears Prada
Year:  2009
Director:  xyz
Production cost:  78000
Collection:  6300000
Movie name:  The Notebook
Year:  2005
Director:  Rachel McAdams
Production cost:  560000
Collection:  3500000

Harry Potter {'year': 2007, 'director': 'JK Rowling ', 'cost': 5000000, 'earning': 7900000}
Devil Wears Prada {'year': 2009, 'director': 'xyz', 'cost': 78000, 'earning': 6300000}
The Notebook  {'year': 2005, 'director': 'Rachel McAdams ', 'cost': 560000, 'earning': 3500000}
Movies before 2015:
Harry Potter
Devil Wears Prada
The Notebook
Profitable movies:
Harry Potter
Devil Wears Prada
The Notebook