***
# Chapter 2 
***

### 1) Initialization

* Strings are **immutable** sequences of characters.
* Create using:

  * Single quotes: `'hello'`
  * Double quotes: `"hello"`
  * Triple quotes (multi-line): `"""hello"""`

In [1]:
s1 = 'Python'
s2 = "Data Science"
s3 = """Line1
Line2"""

print(s1)
print(s2)
print(s3)

Python
Data Science
Line1
Line2

### 2) Operators on strings

* `+` concatenation, `*` repetition
* `in` membership
* comparison uses lexicographic order

In [2]:
print("Py" + "thon")      # 'Python'
print("ha" * 3)           # 'hahaha'
print("a" in "cat")       # True
print("abc" < "abd")      # True

Python
hahaha
True
True

### 3) Indexing (0-based)

In [4]:
s = "Python"
print(s[0])   
print(s[-1])  # 
print(s[len(s)-1])
print(s[len(s)])

P
n
n

IndexError: string index out of range

### 4) Slicing

Form: `s[start : stop : step]` (stop excluded)

In [5]:
s = "Python"
print(s[1:4])   
print(s[:3])     
print(s[3:])     
print(s[::-1])

yth
Pyt
hon
nohtyP

### 5) `split()`

Splits into list by delimiter (default = whitespace)

In [6]:
print("one two three".split())         
print("2026-02-10".split("-"))

['one', 'two', 'three']
['2026', '02', '10']

---

> # Lists

### 1) Initialization

Lists are **mutable**, ordered collections.

In [7]:
L = [10, 20, 30]
mixed = [1, "A", 3.5, True]
empty = []
print(L)
print(mixed)
print(empty)

[10, 20, 30]
[1, 'A', 3.5, True]
[]

### 2) Common methods

* `append(x)`, `extend(iterable)`, `insert(i,x)`
* `remove(x)`, `pop(i)`, `clear()`
* `index(x)`, `count(x)`
* `sort()`, `reverse()`

In [8]:
L = [3, 1, 2]
L.append(5)         
print(L)
L.sort()            
print(L)
L.pop()
print(L)

[3, 1, 2, 5]
[1, 2, 3, 5]
[1, 2, 3]

### 3) Operations

* Concatenation, repetition, membership
* indexing/slicing same as strings

In [9]:
print([1,2] + [3,4])      
print([0]*4)              
print(2 in [1,2,3])

[1, 2, 3, 4]
[0, 0, 0, 0]
True

### 4) List comprehension

Compact way to build lists.

In [10]:
squares = [x*x for x in range(1,6)]
evens = [x for x in range(10) if x%2==0]
pairs = [(x,y) for x in [1,2] for y in [3,4]]
print(squares)
print(evens)
print(pairs)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]
[(1, 3), (1, 4), (2, 3), (2, 4)]

### 5) Nesting

List of lists (2D structure).

In [11]:
mat = [[1,2,3],[4,5,6]]
print(mat[1][2])

6

----

> # Tuples

### 1) Initialization

Tuples are **immutable** ordered collections.

In [12]:
t1 = (1,2,3)
t2 = 1,2,3          
t3 = (5,)           
print(t1)
print(t2)
print(t3)

(1, 2, 3)
(1, 2, 3)
(5,)

### 2) Operations

* indexing/slicing, `+`, `*`, `in`

In [14]:
t = (10,20,30,40)
print(t[1])      
print(t[1:3])

20
(20, 30)

### 3) Methods (limited)

* `count(x)`, `index(x)`

In [15]:
print((1,2,2,3).count(2))  
print((1,2,2,3).index(2))

2
1

### 4) Nesting

In [16]:
T = ((1,2),(3,4))
print(T[1][0])

3

### 5) List vs Tuple

| Feature    | List         | Tuple                |
| ---------- | ------------ | -------------------- |
| Mutability | Mutable      | Immutable            |
| Speed      | Slower       | Faster               |
| Methods    | Many         | Few                  |
| Use case   | dynamic data | fixed records / keys |

---

---

> # Sets & Dictionaries

## A) Sets

### 1) Initialization

Sets are **unordered**, **unique** elements.

In [18]:
S = {1,2,3}
S2 = set([1,2,2,3])   
empty_set = set()     
print(S)
print(S2)
print(empty_set)

{1, 2, 3}
{1, 2, 3}
set()

### 2) Methods / Operations

* `add`, `remove`, `discard`, `pop`
* `union(|)`, `intersection(&)`, `difference(-)`, `symmetric_difference(^)`

In [19]:
A = {1,2,3}
B = {3,4,5}
print(A)
print(B)
print(A | B)   
print(A & B)   
print(A - B)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}

## B) Dictionaries

### 1) Initialization

Key–value mapping. Keys must be hashable (immutable types).

In [20]:
d = {"name":"Vaanya", "age":18}
d2 = dict(a=1, b=2)
print(d)
print(d2)

{'name': 'Vaanya', 'age': 18}
{'a': 1, 'b': 2}

### 2) Common operations/methods

* Access: `d[key]`, safe access: `d.get(key, default)`
* Insert/update: `d[key] = value`, `update()`
* Remove: `pop(key)`, `popitem()`, `del d[key]`
* Views: `keys()`, `values()`, `items()`

In [22]:
print(d)
d["age"] = 39
print(d)
print(d.get("city", "NA"))

{'name': 'Vaanya', 'age': 18}
{'name': 'Vaanya', 'age': 39}
NA

### 3) Nesting

In [23]:
student = {
  "name":"A",
  "marks":{"math":90, "python":95}
}
student["marks"]["python"]

95

### 4) Sorting & typecasting

* Sort dict by keys or by values using `sorted()`

In [24]:
d = {"b":2, "a":5, "c":1}
print(sorted(d))                     
print(sorted(d.items()))             
print(sorted(d.items(), key=lambda x: x[1]))

['a', 'b', 'c']
[('a', 5), ('b', 2), ('c', 1)]
[('c', 1), ('b', 2), ('a', 5)]

> # Functions

### 1) User-defined functions

In [25]:
def add(a, b):
    return a + b

### 2) Parameters

* positional, keyword, default, variable-length

In [26]:
def f(a, b=10):
    return a+b

def g(*args):       
    return sum(args)

def h(**kwargs):     
    return kwargs

### 3) Documentation (Docstring)

In [27]:
def area_circle(r):
    """Return area of circle for radius r."""
    return 3.14159 * r * r

### 4) Scope
----

* #### Local, Enclosing, Global, Built-in (LEGB)

#### Python follows the LEGB Rule for Scope
Python looks for a variable in this order:

- > ### L – Local Scope
    •	Variables created inside a function
	•	Can be used only inside that function

- > ### E – Enclosing Scope
	•	Variables in a function inside another function
	•	Used in nested functions
- > ### G – Global Scope
	•	Variables created outside all functions
	•	Can be used anywhere in the program

In [38]:
x = 10
def foo():
    x = 5
    return x

In [29]:
x=10
print(foo())
print(x)

5
10

### 5) Recursion

Function calls itself; must have base case.

In [32]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

In [33]:
print(fact(4))

24

> # Advanced Functions


### 1) `lambda`

Anonymous function.

In [34]:
square = lambda x: x*x
print(square(2))

4

### 2) `map()`

Apply a function to every element.

In [36]:
nums = [1,2,3]
list(map(lambda x: x*x, nums))

[1, 4, 9]

### 3) `filter()`

Keep only elements satisfying condition.

In [37]:
nums = [1,2,3,4,5]
list(filter(lambda x: x%2==0, nums))

[2, 4]